* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 85%;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 100vh;
  max-height: 100vh;
  background: #e7eef3;
  overflow: hidden;
  display: flex;
}

.left {
  flex: 1;
  height: 100%;
}

.right {
  flex: 5;
  height: 100vh;
  padding: 2rem 3rem;
  overflow: auto;
}

.primary_heading {
  font-size: 1.5rem;
}
